name: checkout job
on:
  push:
    branches:
        - main
jobs:
 checkout-jobs-good:
    runs-on: ubuntu-latest
    steps: 
    - name: display the current file before
      run: ls -a 
    - name: checkout
      run: |
        git config --global init.defaultBranch main
        git init
        git remote add origin "https://$GITHUB_ACTOR:${{secrets.GITHUB_TOKEN}}@github.com/$GITHUB_REPOSITORY.git"
        git fetch origin
        git checkout vivek
    - name: display current file after
      run : ls -a      