name: environment
on: [ push]

env:
  WF_LEVEL_ENV: 'Available to all jobs'
jobs: 
  env-var-and-context:
    runs-on: ubuntu-latest
    # if: ${{github.ref == 'refs/heads/main'}}
    if: github.ref == 'refs/heads/main'
    env:
      JOB_LEVEL_ENV: 'Available to all steps in env-var-and-context job'
    steps: 
        - name: Log environment
          run: echo $GITHUB_REF
        - name: Log context
          run: echo '${{ github.ref}}'
        - name: set new variable
          run: |
            echo '$NEW_RNV_VAR=$(date)' >> "$GITHUB_ENV"
            echo 'JOB_LEVEL_ENV=$RANDOM' >> "$GITHUB_ENV"
        - name: log Custum vars
          env:
            STEP_LEVEL_ENV: Available to only this step
            WF_LEVEL_ENV: Override in step level
        
          run: |
           echo ${{ env.STEP_LEVEL_ENV}}
           echo $STEP_LEVEL_ENV
           echo $WF_LEVEL_ENV
           echo $JOB_LEVEL_ENV
           echo $NEW_RNV_VAR
