name: Expression and Context
on: [pull_request, push, workflow_dispatch , issues]
jobs:
  using-expression-and-contexts:
    runs-on: ubuntu-latest
    steps:
      - name: Expressions
        id: expressions
        run: |
          echo ${{ 1 }}
          echo ${{'This is string'}}
          echo ${{true}}
          echo ${{null}}
          echo ${{'string' == 'String'}}
      - name: Dump contexts
        run: |
          echo ${{ toJson(github) }}
          echo ${{ toJson(job) }}
          echo ${{ toJson(steps) }}
          echo ${{ toJson(secrets) }}
          echo ${{ toJson(runner)}} 