name: 'Modified-rg-setup'

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'Dev'
        type: choice
        options:
          - dev
          - prod

env:
  WORKING_DIR: ${{ github.event.inputs.environment == 'dev' && './DevopsRG-Terraform/Dev/DevOpsRGCreation' || './infra' }}
  AZURE_CLIENT_ID: ${{ github.event.inputs.environment == 'dev' && secrets.NONPROD_AZURE_CLIENT_ID || github.event.inputs.environment == 'prod' && secrets.PROD_AZURE_CLIENT_ID }}
  AZURE_SUBSCRIPTION_ID: ${{ github.event.inputs.environment == 'dev' && secrets.NONPROD_AZURE_SUBSCRIPTION_ID || github.event.inputs.environment == 'prod' && secrets.PROD_AZURE_SUBSCRIPTION_ID }}
  AZURE_CLIENT_SECRET: ${{ github.event.inputs.environment == 'dev' && secrets.NONPROD_AZURE_CLIENT_SECRET || github.event.inputs.environment == 'prod' && secrets.PROD_ARM_CLIENT_SECRET }}
  AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: main
          fetch-depth: 0

      - name: Echo Working Directory
        run: echo $WORKING_DIR

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.0

      - name: Azure CLI Login
        uses: azure/login@v1
        with:
          creds: >
            {
              "clientId": "${{ env.AZURE_CLIENT_ID }}",
              "tenantId": "${{ env.AZURE_TENANT_ID }}",
              "clientSecret": "${{ env.AZURE_CLIENT_SECRET }}",
              "subscriptionId": "${{ env.AZURE_SUBSCRIPTION_ID }}"
            }

      - name: Initialize Terraform
        run: |
                    terraform init -backend-config="resource_group_name=transinfra" \
                            -backend-config="storage_account_name=infrastoragetfstate1" \
                            -backend-config="container_name=infra-tfstate" \
                            -backend-config="key=${{ github.event.inputs.environment }}.tfstate"
        env:
          ARM_CLIENT_ID: ${{ env.ARM_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ env.ARM_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ env.ARM_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ env.ARM_TENANT_ID }}
        working-directory: ${{ env.WORKING_DIR }}

      - name: Plan Terraform
        run: terraform plan -out=tfplan -var-file=${{ github.event.inputs.environment }}.tfvars
        working-directory: ${{ env.WORKING_DIR }}

      - name: Apply Terraform
        run: terraform apply -auto-approve tfplan
        working-directory: ${{ env.WORKING_DIR }}
