name: simple-action
on:
    push:
      branches:
          - main
jobs: 
  simple-job-action:
    runs-on: ubuntu-latest
    steps:
      - name: Simple jss action
        id: greet
        uses: hello-world-javascript-action@dd51a7dd81990a1e0581828d4e1287f0ce1c2c4e
        with:
          who-to-greet: vivek
      - name: Log Greeting time
        run: echo "${{steps.greet.outputs.time}}"
