name: status
on: [push]
jobs: 
    job-1: 
        runs-on: ubuntu-latest
        steps:
            - name: step1
              run: sleep 20
            - name: steps2
              id: steps2
              run: exit 1
            - name: Runs on Failure
              if: steps.steps2.conclusion == 'failure'
              run: echo "RStep2 failed"
            - name: Runs on Success
              if: success()
              run: echo "Runs on Success"
            - name: Runs on Cancelled
              if: cancelled()
              run: echo "Runs on Cancelled"
            - name: always runs
              if: success() || failure()
              run: echo "always runs"
    job-2: 
        runs-on: ubuntu-latest
        needs: job-1
        if: failure()
        steps: 
        - run: echo 'job2'
